<form [formGroup]="form" (ngSubmit)= "guardarTarjeta()">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-text bg-white"><i class="fas fa-user-circle" [class.green-icon]="this.form.get('titular').valid" [class.red-icon]="this.form.get('titular').invalid && this.form.get('titular').touched"></i></div>
      <input type="text" formControlName="titular"  class="form-control" placeholder="Titular">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-text bg-white"><i class="fas fa-credit-card" [class.green-icon]="this.form.get('numero').valid" [class.red-icon]="this.form.get('numero').invalid && this.form.get('numero').touched"></i></div>
      <input type="text" formControlName="numero" maxlength="16" class="form-control" placeholder="Numero de Tarjeta">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-7">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-text bg-white"><i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('fechaExpiracion').valid" [class.red-icon]="this.form.get('fechaExpiracion').invalid && this.form.get('fechaExpiracion').touched"></i></div>
          <input type="text" maxlength="5" formControlName="fechaExpiracion" class="form-control" placeholder="MM/AA">
        </div>
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-text bg-white"><i class="fas fa-key" [class.green-icon]="this.form.get('cvv').valid" [class.red-icon]="this.form.get('cvv').invalid && this.form.get('cvv').touched"></i></div>
          <input type="text" maxlength="3" formControlName="cvv" class="form-control" placeholder="cvv">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
  </div>
</form>
